#foo {
	background-image:url("bg.png");
	background-position:top left;
	background-repeat:no-repeat;
}
#bar {
	background-image:url("bg.png");
	background-position:top right;
	background-repeat:no-repeat;
}