html {
background-color: black;
color: white;
}
body {
background-color: yellow;
color: red;
font-family: Arial;
font-size: 16px;
}
p {
background-color: black;
color: blue;
font-family: Verdana;
font-size: 12px;
}